<header class="py-5 mb-5" style="background-color: #e3f2fd;">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-2">
        <img src="/assets/images/checkLogo.svg" width="150" height="150"/>
      </div>
      <div class="col-lg-10">
        <h1 class="display-4 mt-5 mb-2"> Check Things</h1>
        <p class="lead mb-5">Você está pronto para aprender muito sobre este fantástico framework SPA?</p>
      </div>
    </div>
  </div>
</header>
<div class="container marketing">

  <div class="row">

    <div class="col text-center">
      <img class="rounded-circle"
        src="/assets/images/games.jpg"
        alt="Generic placeholder image" width="140" height="140">
      <h2>Games</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
      <p><a class="btn btn-outline-secondary" [routerLink]="['/gamesList']" role="button">View list</a></p>
    </div>

    <div class="col text-center">
      <img class="rounded-circle"
        src="/assets/images/films.jpg"
        alt="Generic placeholder image" width="140" height="140">
      <h2>Films</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
      <p><a class="btn btn-outline-secondary" [routerLink]="['/filmsList']" role="button">View list</a></p>
    </div>

    <div class="col text-center">
      <img class="rounded-circle"
        src="/assets/images/books.jpg"
        alt="Generic placeholder image" width="140" height="140">
      <h2>Books</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
      <p><a class="btn btn-outline-secondary" [routerLink]="['/booksList']" role="button">View list</a></p>
    </div>

  </div>

</div>